p.large{
  font-family: verdana;
  font-size: 14pt;
  color: #313131;
  }
p.normal{
  font-family: verdana;
  font-size: 12pt;
  color: #000000;
  }
p.small{
  font-family: verdana;
  font-size: 10pt;
  color: #000000;
  }

/*#header{
  
}*/

#sitemap{
  float: left;
}

#main{
  float:left;
}

/* HTML5 TEST */
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
