p.large{
  font-family: verdana;
  font-size: 14pt;
  color: #313131;
  }
p.normal{
  font-family: verdana;
  font-size: 12pt;
  color: #000000;
  }
p.small{
  font-family: verdana;
  font-size: 10pt;
  color: #000000;
  }

/* BODY COLOR */
body {
  background-color:#EFE0C4;
}
/* HTML5 LAYOUT */
header {
  background-color:#FEE2C1;
  text-align:center;
  padding:5px; 
  }
nav {
    background-color:#E28929;
    height:60px;
    width:100%;
    float:left;
    padding:5px;
    left:0px;
    border:3px solid #000000;
    float:left;
    }
  a.nav{
    font-family:serif;
    font-size:20pt;
    color:#000000;
    padding:2px 20px;
    border:1px solid #E28929;
    float:left;
    text-decoration:none;
    }
  a.nav:visited{
    font-family:serif;
    font-size:20pt;
    color:#000000;
    padding:2px 20px;
    border:1px solid #E28929;
    float:left;
    text-decoration:none;
    }
  a.nav:hover{
    background-color:#DE7F18;
    font-family:serif;
    font-size:20pt;
    color:#000000;
    padding:2px 20px;
    border:1px solid #E28929;
    float:left;
    text-decoration:none;
    }
section {
    background-color:#F0DEB3;
    width:80%;
    float:left;
    padding:10px; 
    }
aside {
    background-color:#FEE2C1;
    clear:both;
    text-align:left;
    padding:5px;
    width:18%;
    height:100%;
    border:3px solid #000000;
    }
  a.aside{
    font-family:verdana;
    font-size:14pt;
    color:#000000;
    text-decoration:none;
    }
  a.aside:visited{
    font-family:verdana;
    font-size:14pt;
    color:#000000;
    text-decoration:none;
    }
  a.aside:hover{
    font-family:verdana;
    font-size:15pt;
    color:#000000;
    text-decoration:none;
    }
    
ul.header li.header
{
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:16px;
    font-weight:bold;
    overflow:hidden;
}
