p.large{
  font-family: verdana;
  font-size: 14pt;
  color: #313131;
  }
p.normal{
  font-family: verdana;
  font-size: 12pt;
  color: #000000;
  }
p.small{
  font-family: verdana;
  font-size: 10pt;
  color: #000000;
  }

#header{
  
}

#sitemap{
  float: left;
}

#main{
  float:left;
}

/* 
@font-face {
  font-family: starconflict
  src: <insert direct link here>
*/ 

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
