p.large{
  font-family: verdana;
  font-size: 14pt;
  color: #313131;
  }
p.normal{
  font-family: verdana;
  font-size: 12pt;
  color: #000000;
  }
p.small{
  font-family: verdana;
  font-size: 10pt;
  color: #000000;
  }

#sitemap{
  float: left;
}

#main{
  float:left;
}

/* HTML5 TEST */
header {
  background-color:#F4D7C3;
  text-align:center;
  padding:5px; 
  }
nav {
    background-color:#E28929;
    height:60px;
    width:100%;
    float:left;
    padding:5px; 
    border:3px solid #FFFFFF;
    }
  a.nav{
    font-family:serif;
    font-size:20pt;
    color:#FFFFFF;
    padding:5px 20px;
    border:1px solid #FFFFFF;
    float:left;
    text-decoration:bold;
    }
  a.nav:visited{
    font-family:serif;
    font-size:20pt;
    color:#FFFFFF;
    padding:5px 20px;
    border:1px solid #FFFFFF;
    float:left;
    text-decoration:bold;
    }
  a.nav:hover{
    font-family:serif;
    font-size:20pt;
    color:#FFFFFF;
    padding:5px 20px;
    border:1px solid #DE7F18;
    float:left;
    text-decoration:bold;
    }
section {
    width:80%;
    float:left;
    padding:10px; 
    }
aside {
    background-color:#F4D7C3;
    clear:both;
    text-align:left;
    padding:5px;
    width:8px;
    }
  a.aside{
    font-family:verdana;
    font-size:14pt;
    color:#FFFFFF;
    }
  a.aside:visited{
    font-family:verdana;
    font-size:14pt;
    color:#FFFFFF;
    }
  a.aside:hover{
    font-family:verdana;
    font-size:15pt;
    color:#FFFFFF;
    }
